<template>
  <label class="d-inline-block px-2 ml-auto">
    <span class="d-none">Filter:</span>
    <input class="px-2 py-1" type="text" v-model="filter" placeholder="Filter">
  </label>
</template>

<script lang="ts">
  export default {
    name: 'DataTableFilter',
    inject: ['eventBus'],
    data(): { filter: string } {
      return {
        filter: '',
      };
    },
    watch: {
      filter(this: any, newFilter: string): void {
        this.eventBus.$emit('filterRows', newFilter);
      },
    },
  };
</script>

<style scoped>

</style>