<template>
  <div class="data-table position-relative">
    <div class="d-flex flex-wrap align-items-center py-2">
      <span>Showing: </span>
      <data-table-page-limit/>
      <span>{{rowStart + 1}}-{{rowEnd > filterRows.length ? filterRows.length : rowEnd}} of {{filterRows.length}}</span>
      <data-table-filter/>
      <data-table-pagination :max-pages="maxPages"/>
    </div>
    <table>
      <data-table-columns :columns="columns" :rows="rows"/>
      <template v-for="(row, rowIndex) in getPage">
        <data-table-rows
            :data-row="rowIndex + 1"
            :columns="columns"
            :row="row"
            :key="rowIndex"
            :row-index="rowIndex"/>
        <expandable-row :span="columns.length" :id="rowIndex" :key="`expanded:${rowIndex}`">
          <slot name="expandable-row" :data="row"/>
        </expandable-row>
      </template>
    </table>
  </div>
</template>

<script lang="ts">
  import { DataTable, DataTablesColumns } from '@/components/ui/DataTable/service';
  import DataTableColumns from '@/components/ui/DataTable/DataTableColumns.vue';
  import DataTableRows from '@/components/ui/DataTable/DataTableRows.vue';
  import ExpandableRow from '@/components/ui/DataTable/ExpandableRow.vue';
  import DataTablePageLimit from '@/components/ui/DataTable/DataTablePageLimit.vue';
  import DataTableFilter from '@/components/ui/DataTable/DataTableFilter.vue';
  import DataTablePagination from '@/components/ui/DataTable/DataTablePagination.vue';

  export default {
    name: 'DataTable',
    inject: ['eventBus'],
    props: {
      columns: {
        type: Array,
        required: true,
      },
      rows: {
        type: Array,
        required: true,
      },
      id: {
        type: [String, Number],
        required: true,
      },
    },
    components: {
      ExpandableRow,
      DataTableRows,
      DataTableColumns,
      DataTablePagination,
      DataTableFilter,
      DataTablePageLimit,
    },
    data(this: any): DataTable {
      return {
        pageLimit: 10,
        page: 1,
        filter: '',
        column: this.sortColumn,
      };
    },
    computed: {
      getPage(vm: any): [] {
        vm.sortRows(vm.column || vm.sortColumn);
        if (vm.pageLimit > vm.filterRows.length) return vm.filterRows;
        if (vm.rowEnd > vm.filterRows.length) return vm.filterRows.slice(vm.rowStart - vm.filterRows.length, vm.filterRows.length);
        return vm.filterRows.slice(vm.rowEnd - vm.pageLimit, vm.rowEnd);
      },
      sortColumn(vm: any): DataTablesColumns {
        return vm.columns.find((column: DataTablesColumns) => column.order);
      },
      maxPages(vm: any): number {
        return Math.ceil(vm.filterRows.length / vm.pageLimit);
      },
      filterRows(vm: any): [] {
        return vm.rows.filter((row: object | []) => {
          for (const cell of Object.entries(row))
            if (`${cell[1]}`.toLowerCase().includes(vm.filter.toLowerCase())) return true;
        }, vm);
      },
      rowStart(vm: any): number {
        return vm.page * vm.pageLimit - vm.pageLimit;
      },
      rowEnd(vm: any): number {
        return vm.page * vm.pageLimit;
      },
    },
    methods: {
      toNumber(value: string): number {
        return +(`${value}`.replace(/[^\d.]/g, ''));
      },
      resetColumn(this: any, column: DataTablesColumns, order: string) {
        if (this.$el) this.$el.querySelector(`.columns *[data-column="${column.name}"]`).dataset.order = order;
        column.order = order;
      },
      clearOrder(this: any): void {
        this.columns.forEach((column: DataTablesColumns) => {
          if (column.hasOwnProperty('order')) delete column.order;
        });
        if (this.$el) {
          this.$el.querySelectorAll('.columns *[data-order]').forEach((el: HTMLElement) => {
            el.removeAttribute('data-order');
          });
        }
      },
      sortRows(this: any, column: DataTablesColumns): void {
        if (!column) return;

        const vm = this;
        const order = column.order as string;
        this.clearOrder();
        this.resetColumn(column, order);

        this.rows.sort((row1: any, row2: any) => {
          const value1 = row1[column.name];
          const value2 = row2[column.name];

          switch (true) {
            case column.type === 'string':
              if (order === 'asc') return value1 < value2 ? -1 : 1;
              else return value1 > value2 ? -1 : 1;
            case column.type === 'number':
              if (order === 'asc') return vm.toNumber(value1) - vm.toNumber(value2);
              else return vm.toNumber(value2) - vm.toNumber(value1);
            case column.type === 'date':
              if (order === 'asc') return new Date(value1).getTime() - new Date(value2).getTime();
              else return new Date(value2).getTime() - new Date(value1).getTime();
          }
        });
      },
    },
    mounted(this: any): void {
      this.eventBus.$on('updatePage', (page: number) => {
        this.page = page;
      });

      this.eventBus.$on('filterRows', (filter: string) => {
        this.filter = filter;
      });

      this.eventBus.$on('updatePageLimit', (newLimit: number) => {
        this.pageLimit = newLimit;
        if (this.page > this.maxPages) this.page = this.maxPages;
      });

      this.eventBus.$on('expandRow', (id: string, show: boolean): void => {
        this.show = show;
      });

      this.eventBus.$on('sortRows', (column: DataTablesColumns) => {
        this.column = column;
        this.sortRows(column);
      });
    },
  };
</script>

<style lang="scss">
  .data-table {
    width: 100%;
    overflow: auto;

    .cell {
      display: table-cell;

      &:before {
        content: attr(data-column);
        padding: 0 calc(var(--base-gutter-unit) * 10);
        visibility: hidden;
        font-size: 0;
        display: block;
        height: 0;
      }
    }
  }
</style>