<template>
  <div class="d-flex flex-nowrap p-3 ml-auto">
    <button @click="page = 1" class="fas fa-angle-double-left mr-2 text-center"/>
    <button @click="page--" class="fas fa-angle-left mr-2 text-center"/>
    <div class="ml-auto mr-2">
      <label class="mr-1">
        <span class="d-none">Go To</span>
        <input class="text-center" v-model="page" type="number" value="1" min="1" :max="!maxPages ? 1 : maxPages" placeholder="Go To">
      </label>
      <span>of {{!maxPages ? 1 : maxPages}}</span>
    </div>
    <button @click="page++" class="fas fa-angle-right ml-auto"/>
    <button @click="page = maxPages" class="fas fa-angle-double-right ml-2"/>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'DataTablePagination',
    inject: ['eventBus'],
    props: {
      maxPages: {
        type: Number,
        required: true,
      },
    },
    data(): { page: number } {
      return {
        page: 1,
      };
    },
    watch: {
      page(this: any, newPage: number) {
        if (newPage < 1) this.page = 1;
        if (newPage > this.maxPages) this.page = this.maxPages;
        this.eventBus.$emit('updatePage', newPage);
      },
      maxPages(this: any, limit: number) {
        if (this.page > limit) this.page = limit;
      },
    },
  };
</script>

<style scoped>

</style>