<template>
  <label class="d-flex align-items-center">
    <select class="mx-2" name="limit" v-model.number="pageLimit">
      <option v-for="(limit, index) in limits" :key="index" :value="limit">{{limit}}</option>
    </select>
  </label>
</template>

<script lang="ts">
  export default {
    name: 'DataTablePageLimit',
    inject: ['eventBus'],
    props: {
      limits: {
        type: Array,
        default: () => [10, 25, 50, 100],
      },
    },
    data(this: any): { pageLimit: number } {
      return {
        pageLimit: this.limits[0],
      };
    },
    watch: {
      pageLimit(this: any, newLimit: number) {
        this.eventBus.$emit('updatePageLimit', newLimit);
      },
    },
  };
</script>

<style scoped>

</style>