<template>
  <tr class="columns d-flex flex-row flex-nowrap">
    <td
        @click="sortRows($event, column)" v-for="(column, columnIndex) in columns" :key="columnIndex" :data-order="column.order" :data-column="column.name"
        :data-type="column.type"
        :data-sortable="column.sortable"
        class="cell p-2 border-bottom">
      <span v-if="column.html" v-html="column.html"/>
      <span v-else>{{column.name}}</span>
      <i v-if="column.sortable" class="fas fa-sort ml-1 sortable"/>
    </td>
  </tr>
</template>

<script lang="ts">
  import { DataTablesColumns } from '@/components/ui/DataTable/service';

  export default {
    name: 'DataTableColumns',
    inject: ['eventBus'],
    props: {
      columns: {
        type: Array,
        required: true,
      },
    },
    methods: {
      sortRows(this: any, evt: Event, column: DataTablesColumns): void {
        if (!column.sortable) return;

        if (!column.order) column.order = 'asc';
        else column.order = column.order === 'asc' ? 'desc' : 'asc';

        const target = evt.target as EventTarget & HTMLOrSVGElement;
        target.dataset.order = column.order;

        this.eventBus.$emit('sortRows', column);
      },
    },
  };
</script>

<style scoped lang="scss">
  .columns {
    display: table-header-group;

    .cell {
      &[data-sortable] {
        &:hover {
          cursor: pointer
        }

        .sortable {
          &:before {
            opacity: .5;
          }
        }

        &[data-order="asc"] {
          text-shadow: 0 0 1px;

          .sortable {
            &:before {
              content: "\f0de";
              opacity: 1;
            }
          }
        }

        &[data-order="desc"] {
          text-shadow: 0 0 1px;

          .sortable {
            &:before {
              content: "\f0dd";
              opacity: 1;
            }
          }
        }
      }

      * {
        pointer-events: none;
        user-select: none;
      }
    }
  }
</style>