<template>
  <tr class="row d-flex flex-wrap">
    <td
        v-for="(column, columnIndex) in columns"
        :key="columnIndex"
        :data-column="column.name"
        :data-cell="columnIndex + 1"
        class="cell p-2 text-break border-bottom">
      <button
          @click="eventBus.$emit('expandRow', rowIndex, toggleRow())" v-if="column.expandable"
          :class="['fas mr-2',{'fa-angle-down': !isExpanded, 'fa-angle-right': isExpanded}]"></button>
      <span v-html="row[Object.keys(row)[columnIndex]]"></span>
    </td>
  </tr>
</template>

<script lang="ts">
  export default {
    name: 'DataTableRows',
    inject: ['eventBus'],
    props: {
      columns: {
        type: Array,
        required: true,
      },
      row: {
        type: Object,
        required: true,
      },
      rowIndex: {
        type: Number,
        required: true,
      },
    },
    data(): { show: boolean } {
      return {
        show: false,
      };
    },
    computed: {
      isExpanded(this: any): void {
        return this.show;
      },
    },
    methods: {
      toggleRow(this: any): void {
        this.show = !this.show;
        return this.show;
      },
    },
  };
</script>

<style scoped lang="scss">
  .row {
    display: table-row;
  }
</style>