<template>
  <transition name="fade">
    <tr v-if="show">
      <td :colspan="span">
        <slot></slot>
      </td>
    </tr>
  </transition>
</template>

<script lang="ts">
  export default {
    name: 'ExpandedRow',
    inject: ['eventBus', 'makeSticky'],
    props: {
      id: {
        type: [String, Number],
        required: true,
      },
      span: {
        type: Number,
        required: true,
      },
    },
    data(): { show: boolean } {
      return {
        show: false,
      };
    },
    methods: {
      toggleRow(this: any): void {
        this.show = !this.show;
      },
    },
    created(this: any) {
      this.eventBus.$on('expandRow', (id: string, show: boolean): void => {
        if (this.id === id) this.show = show;
      });
    },
  };
</script>

<style lang="scss">
  @import "../../../assets/scss/transitions";
  @include fade-in-out(250ms);
</style>