.d {
  &-flex {display: flex}
  &-block {display: block}

  &-none {
    display: none
  }
  &-inline {
    display: inline;
    &-flex {display: inline-flex}
    &-block {display: inline-block}
  }
}