$column: 1;

@while ($column <= 12) {
  .grid-#{$column} {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat($column, 1fr);
    -ms-grid-columns: repeat($column, 1fr);
  }

  .col-#{$column} {
    grid-column: span $column;
    -ms-grid-column: span $column;
  }

  $column: $column + 1;
}