// Shorthand

.position {
  &-fixed {position: fixed;}
  &-absolute {position: absolute;}
  &-relative {position: relative;}
  &-static {position: static;}

  &-top {
    &-0 {top: 0;}
    &-auto {top: auto;}
  }

  &-right {
    &-0 {right: 0;}
    &-auto {right: auto;}
  }

  &-bottom {
    &-0 {bottom: 0;}
    &-auto {bottom: auto;}
  }

  &-left {
    &-0 {left: 0;}
    &-auto {left: auto;}
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
  }
}