$base: 5px;
$levels: 5;
$level: 0;

@while($level <= $levels) {
  .p {
    &-#{$level} {padding: $base * $level;}
    &t { &-#{$level} {padding-top: $base * $level} }
    &r { &-#{$level} {padding-right: $base * $level} }
    &b { &-#{$level} {padding-bottom: $base * $level} }
    &l { &-#{$level} {padding-left: $base * $level} }

    &x {
        &-#{$level} {
          padding-right: $base * $level;
          padding-left: $base * $level;
        }
    }

    &y {
      &-#{$level} {
        padding-top: $base * $level;
        padding-bottom: $base * $level;
      }
    }
  }

  .m {
    &-#{$level} {margin: $base * $level;}
    &t { &-#{$level} {margin-top: $base * $level} }
    &r { &-#{$level} {margin-right: $base * $level} }
    &b { &-#{$level} {margin-bottom: $base * $level} }
    &l { &-#{$level} {margin-left: $base * $level} }

    &x {
      &-#{$level} {
        margin-right: $base * $level;
        margin-left: $base * $level;
      }
    }

    &y {
      &-#{$level} {
        margin-top: $base * $level;
        margin-bottom: $base * $level;
      }
    }
  }

  $level: $level + 1;
}

.p {
  &-auto {
    padding: auto
  }

  &t {
    &-auto {
      padding-top: auto
    }
  }

  &r {
    &-auto {
      padding-right: auto
    }
  }

  &b {
    &-auto {
      padding-bottom: auto
    }
  }

  &l {
    &-auto {
      padding-left: auto
    }
  }

  &x {
    &-auto {
      padding-right: auto;
      padding-left: auto;
    }
  }

  &y {
    &-auto {
      padding-top: auto;
      padding-bottom: auto;
    }
  }
}

.m {
  &-auto {
    margin: auto
  }

  &t {
    &-auto {
      margin-top: auto
    }
  }

  &r {
    &-auto {
      margin-right: auto
    }
  }

  &b {
    &-auto {
      margin-bottom: auto
    }
  }

  &l {
    &-auto {
      margin-left: auto
    }
  }

  &x {
    &-auto {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &y {
    &-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}