.text {
  &-nowrap {
    white-space: nowrap !important;
  }

  &-wrap {
    white-space: normal !important;
  }

  &-justify {
    text-align: justify !important;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-capitalize {
    text-transform: capitalize !important;
  }

  &-decoration-none {
    text-decoration: none !important;
  }

  &-break {
    word-break: break-word; // IE & < Edge 18
    overflow-wrap: break-word;
  }
}

.fas, .fab {
  font-family: inherit;
  font-weight: inherit;

  &:before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free", sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  &:not(:empty) {
    &:before {
      margin-right: var(--base-gutter-unit)
    }
  }
}