<template>
  <nav id="admin_panel" class="d-flex flex-column px-0">
    <router-link :to="'/'" class="fas fa-home">Home</router-link>
    <router-link :to="'/about'" class="fas fa-question-circle">About</router-link>
  </nav>
</template>

<script>
  export default {
    name: "AdminPanel",
  };
</script>

<style scoped lang="scss">
  #admin_panel {
    background-color: var(--tone);
    > a {
      color: var(--shade);
      padding: calc(var(--base-gutter-unit) * 2);
      text-decoration: none;

      &.router-link-exact-active {
        background-color: var(--primary);
        color: var(--tint);
      }
    }
  }
</style>