<template>
  <div class="about px-3">
    <data-table v-if="data" :columns="columns" :rows="data" :id="'demo'">
      <template #expandable-row="row">
        <div class="p-3">
          <p v-for="(value, key) in row.data" :key="key">{{key}}:{{value}}</p>
        </div>
      </template>
    </data-table>
  </div>
</template>

<script lang="ts">
  import DataTable from '@/components/ui/DataTable/DataTable.vue';
  import { DataTableInterface } from '@/components/ui/DataTable/service';
  import xhr from '@/assets/js/XHR/xhr';


  export default {
    components: { DataTable },
    inject: ['makeSticky'],
    data(): DataTableInterface | any {
      return {
        columns: [
          { name: 'postId', type: 'number', sortable: true, expandable: true },
          { name: 'id', type: 'number', sortable: true },
          { name: 'name', type: 'string', sortable: true, order: 'desc' },
          { name: 'email', type: 'string', sortable: false },
          { name: 'body', type: 'string', sortable: false },
        ],
        data: null,
        number: 0,
      };
    },
    methods: {
      getRows() {
        return xhr('https://jsonplaceholder.typicode.com/comments')
          .then((result: any) => {
            if (result.request.status) return result.response;
        });
      },
    },
    created(this: any): void {
      this.getRows()
        .then((rows: any) => {
          this.data = JSON.parse(rows);
      });
    },
  };
</script>

<style lang="scss">
  .about {
    overflow-y: auto;
  }
</style>