<template>
  <main class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </main>
</template>

<script lang="ts">
  // @ is an alias to /src
  import HelloWorld from '@/components/HelloWorld.vue';

  export default {
    name: 'home',
    components: {
      HelloWorld,
    },
  };
</script>

<style lang="scss">
  .home {
    text-align: center;
  }
</style>