@mixin fade-in-out($time) {
  .fade {
    &-enter-active, &-leave {
      height: auto;
      opacity: 1;
      transition: opacity $time;
    }

    &-enter {
      height: 0;
      opacity: 0;
    }

    &-leave-active {
      height: auto;
      opacity: 0;
      transition: opacity $time;
    }
  }
}