@mixin slide-up-down($time) {
  .slide {
    &-enter-active, &-leave {
      height: auto;
      transform: translateY(0%);
      transition: transform $time;
    }

    &-enter {
      height: 0;
      transform: translateY(-100%);
    }

    &-leave-active {
      height: auto;
      transform: translateY(-100%);
      transition: transform $time;
    }
  }
}