<template>
  <div id="app" class="grid-12">
    <admin-panel class="col-2"></admin-panel>
    <router-view class="col-10"/>
  </div>
</template>

<style lang="scss">
  @import "~reset-css/sass/reset";
  @import "assets/scss/color-palette";
  @import "assets/scss/utilities";
  @import "~@fortawesome/fontawesome-free/css/all.min.css";

  :root {
    --base-gutter-unit: 5px;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--tint);
    color: var(--shade);
    min-height: 100vh;
    grid-auto-rows: 100vh;

    a {
      color: var(--primary);
    }
  }
</style>

<script lang="ts">
  import Vue from 'vue';
  import AdminPanel from '@/components/layout/AdminPanel.vue';

  export default {
    components: { AdminPanel },
    provide(this: any): { makeSticky: any, eventBus: Vue } {
      return {
        makeSticky: this.makeSticky,
        eventBus: new Vue(),
      };
    },
    data(): { stickyElements: [] } {
      return {
        stickyElements: [],
      };
    },
    computed: {
      getStickyHeights(this: any): void {
        return this.stickyElements.reduce((height: number, el: HTMLElement) => height + el.clientHeight, 0);
      },
    },
    methods: {
      makeSticky(this: any, el: HTMLElement): void {
        el.style.top = `${this.getStickyHeights}px`;
        el.style.position = 'fixed';
        if (el.parentElement) el.parentElement.style.paddingTop = `${el.clientHeight}px`;
        this.stickyElements.push(el);
      },
    },
  };
</script>