<template>
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <circle cx="50" cy="50" r="45"></circle>
    <text x="50" dx="-25" y="5" dy="50" font-family="sans-serif" textLength="50">{{getPercent}}</text>
  </svg>
</template>

<script lang="ts">
  export default {
    name: 'Spinner',
    props: {
      progress: {
        type: Number,
        default: 10,
      },
    },
    data(this: any): any {
      return {
        count: this.progress,
      };
    },
    watch: {
      progress(this: any, newProgress: number): void {
        this.animateCount(newProgress);
      },
    },
    computed: {
      getPercent(vm: any): string {
        if (vm.count === 0) return `${vm.count}%`;
        if (vm.count < 10) return `0${vm.count}%`.slice(-3);
        else return `${vm.count}%`;
      },
    },
    methods: {
      animateCount(this: any, target: number): void {
        this.count++;
        if (this.count !== target) requestAnimationFrame(() => {
          this.animateCount(target);
        });
      },
    },
  };
</script>

<style scoped lang="scss">
  $strokeOffset: 300px;

  svg {
    width: 100px;
    height: 100px;

    circle {
      fill: transparent;
      stroke-width: 3px;
      stroke: var(--primary);
      stroke-dasharray: $strokeOffset;
      transform-origin: center;
      animation: rotate 3s infinite linear;
    }

    text {
      font-size: 1em;
    }
  }

  @keyframes rotate {
    from {
      stroke-dashoffset: -$strokeOffset;
      transform: rotate(360deg);
    }

    50% {
      transform: rotate(0);
    }

    100% {
      stroke-dashoffset: $strokeOffset;
      transform: rotate(-360deg);
    }
  }
</style>